<?xml version="1.0"?>
<!--
/**
 * Scandiweb_BackgroundTask
 *
 * @category Scandiweb
 * @package  Scandiweb_BackgroundTask
 * @author   Vladislavs Piscikovs <vladislavs@scandiweb.com | info@scandiweb.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <background_task>
                <is_disabled>0</is_disabled>
                <cleaning_frequency>30</cleaning_frequency>
                <task_runner_cron_expression>* * * * *</task_runner_cron_expression>
                <task_cleaner_cron_expression>0 2 * * *</task_cleaner_cron_expression>
            </background_task>
        </system>
    </default>
</config>
