<?xml version="1.0"?>
<!--
/**
 * Scandiweb_BackgroundTask
 *
 * @category Scandiweb
 * @package  Scandiweb_BackgroundTask
 * @author   Vladislavs Piscikovs <vladislavs@scandiweb.com | info@scandiweb.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="scandiweb_backgroundtask" frontName="scandiweb_backgroundtask">
            <module name="Scandiweb_BackgroundTask"/>
        </route>
    </router>
</config>
