<?xml version="1.0"?>
<!--
/**
 * Scandiweb_BackgroundTask
 *
 * @category Scandiweb
 * @package  Scandiweb_BackgroundTask
 * @author   Vladislavs Piscikovs <vladislavs@scandiweb.com | info@scandiweb.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="background_task" translate="label" type="text" sortOrder="10000" showInDefault="1">
                <label>Background Tasks Settings</label>
                <field id="disable" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Disable Background Tasks</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cleaning_frequency" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" canRestore="1">
                    <label>Cleaning Frequency</label>
                    <comment>Tasks older than the input value in days will be cleaned.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
